#textdomain wesnoth-Wesband

#define WESBAND_OPTIONS
	[options]
		[slider]
			id=opts.pc.max_experience.adj
			name=_"PC max experience adjust %"
			description=_"Changes the amount of experience main (player character) units require to gain level 1. The initial value dicatates level progression speed for the life of the character. Default is 100%"
			default=100
			min=25
			max=400
			step=5
		[/slider]
		[slider]
			id=opts.pc.max_experience.increase
			name="PC max experience increase rate"
			description=_"Changes the max experience increase % per level for player character units"
			default=15
			min=3
			max=25
		[/slider]

		[slider]
			id=opts.npc.max_experience.adj
			name=_"NPC max experience adjust"
			description=_"Changes the amount of experience non-player characters require to gain level 1. The initial value dicatates level progression speed for the life of the character. Default is 100%. This setting equally affects henchmen, undead minions, summoned creatures, and all enemies."
			default=100
			min=25
			max=400
			step=5
		[/slider]
		[slider]
			id=opts.npc.max_experience.increase
			name="NPC max experience increase rate"
			description=_"Changes the max experience increase % per level for all non-player character units"
			default=17
			min=3
			max=25
		[/slider]

		[checkbox]
			id=opts.peons
			default=no
			name="Choose race only (incomplete)"
			description="Start game with only peasants, peons, hatchlings, etc. This feature is not yet complete and not recommended unless you intend to hack your save file to add the abilities you won't otherwise have access to."
		[/checkbox]
		[checkbox]
			id=opts.trad_stats
			default=no
			name="Show traditional stats"
			description="Display stats like classic Wesband, including zero-value stats. Uncheck this for a more compact display. (This should be toggleable from in-game)"
		[/checkbox]
	[/options]
#enddef

#ifndef MULTIPLAYER
[textdomain]
	name="wesnoth-Wesband"
	path="data/add-ons/Wesband/translations"
[/textdomain]

[campaign]
	id=Weshack
	name=_"Weshack"
	abbrev= _ "WHK"
	first_scenario=wesband_main_generated
	icon="data/add-ons/Wesband/images/units/human-female/sword.png~RC(magenta>red)"
	image="scenery/dwarven-doors-closed.png~SCALE(360,360)"
	define=CAMPAIGN_WESBAND_SP
	description= _ "Wesnoth hack and slash."
	{WESBAND_OPTIONS}

	[difficulty]
		default=yes
		define=HARD
		image="data/add-ons/Wesband/images/units/human-female/fist.png~RC(magenta>red)"
		label=_ "Hard"
		description=_ "Hard"
	[/difficulty]
[/campaign]
#else # MULTIPLAYER
#define CAMPAIGN_WESBAND_MP
#enddef
#define CAMPAIGN_WESBAND
#enddef
#endif

#ifdef CAMPAIGN_WESBAND_SP
#define CAMPAIGN_WESBAND
#enddef
#endif

#ifdef CAMPAIGN_WESBAND
#define MODRPG_DEBUG_COMMAND_USE
#enddef
#define MODRPG_DEBUG_ENCHANT
#enddef

[binary_path]
	path=data/add-ons/Wesband
[/binary_path]
{~add-ons/Wesband/macros/_main.cfg}
#{~add-ons/Wesband/events/_main.cfg}
{~add-ons/Wesband/terrain}
#{~add-ons/Wesband/maps}
#{~add-ons/Wesband/images}
{~add-ons/Wesband/scenarios}
[+units]
	{~add-ons/Wesband/units}
	#{~add-ons/Wesband/units/trolls}
	#{~add-ons/Wesband/units/saurians}
	#{~add-ons/Wesband/units/elementals}
	#{~add-ons/Wesband/units/monsters}
	#{~add-ons/Wesband/units/warlocks}
	#{~add-ons/Wesband/units/humans}
	#{~add-ons/Wesband/units/orcs}
	#{~add-ons/Wesband/units/devlings}
	#{~add-ons/Wesband/units/minotaurs}
	#{~add-ons/Wesband/units/elves}
	#{~add-ons/Wesband/units/undead}
[/units]

#{./macros/_main.cfg}
##{./events/_main.cfg}
#{./terrain}
#{./scenarios}
#{./maps}
#{./images}
#[+units]
#    {./units}
#[/units]

#endif # CAMPAIGN_WESBAND

#ifdef EDITOR
[binary_path]
	path=data/add-ons/Wesband
[/binary_path]
[editor_group]
	id=wesband
	name= _ "Wesband"
	icon="group_custom"
[/editor_group]
{~add-ons/Wesband/terrain/Terrain.cfg}
{~add-ons/Wesband/terrain/Terrain_graphics.cfg}
#endif
